@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    /** fuentes **/
    --fuente-principal: 'Outfit', sans-serif;
    /** Colores **/
    --color-background: #D5E1EF;
    --color-white: #fff;

    --color-text-primary: #2B384C;
    --color-text-secondary: #A3A8B4;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /** 10PX = 1rem**/
}

*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background: var(--color-background);
    font-family: var(--fuente-principal);
}
img{
    width: 100%;
}
.container_card{
    margin-top: calc(100vh - 83rem);
    display: flex;
    justify-content: center;
    align-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: var(--color-white);
    margin: 0rem 2rem 0 2rem;
    border-radius: 1rem;
    box-shadow: 8px 7px 14px -2px rgba(0,0,0,0.47);
}
@media (min-width: 375px){
   .card{
        max-width: 35rem;
   }
}
.card img {
    border-radius: 1rem;
}
.card_text{
    margin-top: 1rem;
    padding: 0 1rem;
    text-align: center;
}
.card_title{
    font-size: 2.3rem ;
    font-weight: 700;
    color: var(--color-text-primary);
}
.card_subtile{
    font-size: 1.5rem;
    color: var(--color-text-secondary);
}